# Test file

PATH: <%- PATH %>
NAME: <%- NAME %>

NAME_DOT: <%- NAME_DOT %>
NAME_KEBAB: <%- NAME_KEBAB %>
NAME_CAMEL: <%- NAME_CAMEL %>
NAME_CAPITAL: <%- NAME_CAPITAL %>
NAME_UPPER: <%- NAME_UPPER %>
NAME_LOWER: <%- NAME_LOWER %>
